@media(max-width:992px){

.nav-links{

display:none;

}

.nav-buttons{

display:none;

}

.menu-btn{

display:block;

}

}

@media(max-width:992px){

.hero-container{

flex-direction:column;

text-align:center;

}

.hero h1{

font-size:42px;

}

.hero-buttons{

justify-content:center;

}

.hero-stats{

justify-content:center;

flex-wrap:wrap;

}

}

@media(max-width:992px){

.booking-form{

grid-template-columns:1fr;

}

}

@media(max-width:992px){

.trusted-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:992px){

.vehicle-grid{

grid-template-columns:1fr;

}

}